.marker.marker-git-diff {
  z-index: 11;

  &.added {
    background-color: var(--syntax-color-added);
  }

  &.modified {
    background-color: var(--syntax-color-modified);
  }

  &.removed {
    background-color: var(--syntax-color-removed);
  }
}
